.app__about{
    flex:1;
    width:100%;
    flex-direction:column
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.app__profile-item {
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
     
     
    img { 
        width: 100%;
        height: 100px;;
        border-radius:15px;
        object-fit: cover;
        box-shadow: 0 12px 10px rgba(0,0,0,0.07);
        border-radius:15px;
    }

    @media screen and (min-width: 2000px) {
     width: 370px;
     margom: 2rem 4re,;

     img{
        height: 320px;
     }
    }
}